{% load static %}
<style type="text/css">
	.card {
		max-width: 700px;
		width: 120%;
	}

	.card-body {
		padding: 20px;
	}
	.card-business_name{
		padding: 20px;
	}
	img {

		display: block;
		margin-left: auto;
		margin-right: auto;
		float: left;
		width: 100px;
		height: 300px;
		object-fit: cover;
	}

	h4 {
		font-family: 'Times New Roman', Times, serif;
	}
	p {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		text-align: justify;
	}
	.btn {
        border-radius: 2px;
        color: #343b40;
        border-color: #343b40;
        background: rgb(16, 245, 233);
        ;
        outline: none;
    }

    .btn:hover,
    .btn:focus {
        border-color: rgb(16, 245, 233);
        ;
        background-color: #343b40;
        color: rgb(16, 245, 233);
        ;
    }
</style>

{% if artistportfolio %}
<div class="container">
	<div class="row">

		<!-- Artist Portfolio -->
		<div class="card m-auto">
			<a href="{% url 'artist:detail' artistportfolio.slug %}">
				{% if artistportfolio.profile_image %}
				<img class="card-img-top" src="{{artistportfolio.profile_image.url}}" alt="image missing">
				{% endif %}
			</a>
			<div class="card-body mt-2 mb-2">
				<a href="{% url 'artist:detail' artistportfolio.slug %}">
					<h4 class="card-business_name">{{artistportfolio.business_name}}</h4>
				</a>




				<p class="card-text">{{artistportfolio.description|safe|truncatechars:180}}</p>
				{% if artistportfolio.business_owner == request.user %}
				<a href="{% url 'artist:edit' artistportfolio.slug %}" class="btn ">Update</a>
				{% endif %}





			</div>
			<div class="card-footer text-muted" style="text-align: center;">
				Reviews: <a href="{% url 'artist:detail' artistportfolio.slug %}">{{ portfolio.reviews.count }}</a>
				<br>
				Owned by {{artistportfolio.business_owner|title}}

			</div>
		</div>
	</div>
</div>

{% else %}

<div class="container">
	<div class="row">
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
				<h2 class="card-business_name" style="text-align: center;">Nothing Found</h2>
				<!-- <p class="card-text">There were no results matching the search: "{{query}}"</p> -->
			</div>
		</div>
	</div>
</div>

{% endif %}