{% load static %}
<style type="text/css">
	.card{
		max-width: 800px;
		width: 120%;
	}
	.card-body{
		padding: 20px;
	}
	img{

		display: block;
		margin-left: auto;
		margin-right: auto;
		float: left;
		width:  100px;
		height: 300px;
		object-fit: cover;
	}
	h4{
		font-family:'Times New Roman', Times, serif;
	}
	p {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		text-align: left;
	}
</style>

{% if blog_post %}
<div class="container">
	<div class="row">
		<!-- Blog Post -->
		<div class="card m-auto">
			<a href="{% url 'blog:detail' post.slug %}">
				{% if blog_post.image %}
				<img class="card-img-top" src="{{blog_post.image.url}}" alt="{% static 'glamhub logo.png' %}">
				{% endif %}
			</a>
			<div class="card-body mt-2 mb-2">
				<a href="{% url 'blog:detail' post.slug %}">
					<h4 class="card-title">{{blog_post.title}}</h4>
				</a>
				<p class="card-text">{{blog_post.body|safe|truncatechars:180}}</p>
				{% if blog_post.author == request.user %}
					<a href="{% url 'blog:edit' blog_post.slug %}" class="btn btn-primary">Update</a>
				{% endif %}
			</div>
			<div class="card-footer text-muted" style="text-align:center;">
				Comments: <a href="{% url 'blog:detail' slug=post.slug %}">{{ post.comments.count }}</a>
				<br>
				Post by {{blog_post.author|title}}
			</div>
		</div>
	</div>
</div>

{% else %}

<div class="container">
	<div class="row">
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
				<h2 class="card-title" style="text-align: center;">Nothing Found</h2>
				<!-- <p class="card-text">There were no results matching the search: "{{query}}"</p> -->
			</div>
		</div>
	</div>
</div>

{% endif %}