{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style type="text/css">
    .card {
        max-width: 800px;
    }


    .container {
        padding: 20px;
    }

    img {

        display: block;
        margin-left: auto;
        margin-right: auto;
        float: left;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    h4 {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;
    }

    .comment {
        margin: 20px 0px 20px 20px;
    }

    .btn {
        border-radius: 2px;
        color: #343b40;
        border-color: #343b40;
        background: rgb(16, 245, 233);
        ;
        outline: none;
    }

    .btn:hover,
    .btn:focus {
        border-color: rgb(16, 245, 233);
        ;
        background-color: #343b40;
        color: rgb(16, 245, 233);
        ;
    }
</style>

<div class="container">
    <div class="row">
        <!-- Blog Post -->
        <div class="card m-auto">
            {% if blog_post.image %}
            <img class="card-body-top" src="{{blog_post.image.url}}">
            {% endif %}
            <div class="card-body my-2">
                <h4 class="card-title">{{blog_post.title}}</h4>
                <p class="card-text" style="text-align: justify;">{{blog_post.body|safe}}</p>
                {% if  blog_post.author == request.user %}
                <a href="{% url 'blog:edit' blog_post.slug %}" class="btn btn-primary">Update</a>
                {% endif %}
            </div>

            <div class="card-footer text-muted" style="text-align: center;">
                Post by: {{blog_post.author}} Updated on {{blog_post.date_updated}}
            </div>
             <!-- End Blog Post -->
            <div class="col-md-8 card mb-4  mt-3 ">
                <!-- comments section -->
                <form action="{% url 'blog:add_comment' blog_post.pk %}" method="POST" class="post-form">{% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-default">Add comment</button>
                </form>

                <br>
                {% for comment in blog_post.comments.all %}
                {% if user.is_authenticated or comment.approved_comment %}
                    <div class="comment">
                        <div class="date">

                            <!-- {% if not comment.approved_comment %}
                            <a class="btn btn-default" href="{% url 'blog:comment_remove' pk=comment.pk %}"><span
                                    class="glyphicon glyphicon-remove"></span></a>
                            <a class="btn btn-default" href="{% url 'blog:comment_approve' pk=comment.pk %}"><span
                                    class="glyphicon glyphicon-ok"></span></a>
                            {% endif %} -->
                        </div>
                        <p>{{ comment.body | linebreaks }}</p>
                        <strong>{{ comment.participant.username}}</strong> | {{ comment.created_on }}

                    </div>
                    {% endif %}
                    <hr>
                    {% empty %}
                    <hr>
                    <p></p>No comments here yet :(</p>
                    {% endfor %}
                </div>
            </div>

        </div>
        <!-- End Comments section -->
    </div>
</div>
{% endblock content %}