{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
	.container {
    max-width: 100%;
}
.element.style {
    width: 100%;
}
/* :: 11.0 Breadcrumb CSS */
.breadcrumb-content {
        position: relative;
        z-index: 1;
        text-align: center;
    }

    .breadcrumb-content h2 {
        font-size: 60px;
        margin-bottom: 15px;
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .breadcrumb-content h2 {
            font-size: 48px;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .breadcrumb-content h2 {
            font-size: 48px;
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb-content h2 {
            font-size: 36px;
        }
    }

    .breadcrumb-content .breadcrumb {
        position: relative;
        padding: 0;
        background-color: transparent;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .breadcrumb-content .breadcrumb .breadcrumb-item a:hover,
    .breadcrumb-content .breadcrumb .breadcrumb-item a:focus {
        color: #bca858;
    }

    .breadcrumb-content .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
        content: '\f101';
        font-family: "FontAwesome";
    }
</style>

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>What We Have</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="icon_house_alt"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Portfolios</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->


<!--Artist Portfolios section-->
<div class="container">
	<div class="row">

		<!-- portfolio feed -->
		<div class="left-column col-lg-7 offset-lg-1">

			<!-- Top 'create profolio' bar -->
			<div class="d-lg-none mb-3" >
				<div class="card m-auto d-flex flex-column p-3">
					<img class="img-fluid d-block m-auto pb-2" src="{% static 'glamhub logo.png' %}" width="72" height="72">
					<p class="lead">Get your business known?</p>
					<p class="m-auto"><a class="btn btn-primary" href="{% url 'artist:create' %}">Create Portfolio</a></p>
				</div>
			</div>
            <!-- end Top 'create profolio' bar -->

			<!-- artist profolios -->
			{% if artistportfolios %}
				{% for portfolio in artistportfolios %}
					<div class="artistportfolio-container">
						{% include 'artist/artistportfolio_snippet.html' with artistportfolio=portfolio %}
					</div>
				{% endfor %}
			{% else %}
                <div class="artistportfolio-container">
                    {% include 'artist/artistportfolio_snippet.html' with query=query %}
                </div>
			{% endif %}
            <!-- End Blog posts-->


            <!--Pagination-->
			{% include 'artist/artistportfolio_pagination.html' with artistportfolios=artistportfolios %}



		</div>
		<!-- end  portfolio feed -->

        <!-- Right 'create portforlio' column  -->
        {% if request.user.is_artist %}
		<div class="right-column col-lg-3 d-lg-flex d-none flex-column" style="box-sizing: content-box;">

			<div class="card create-post-bar d-flex flex-column p-3" style="width: 120%;">
				<img class="img-fluid d-block m-auto pb-2"  src="{% static 'glamhub logo.png' %}" width="72" height="72">
                <p class="lead">Get your business known?</p>
				<p class="m-auto"><a class="btn btn-primary" href="{% url 'artist:create' %}">Create Portfolio</a></p>
			</div>

        </div>
        {% endif %}
		<!-- end Right 'create portfolio' column  -->

	</div>
</div>

{% endblock content %}