{% extends 'common/base.html' %}

{% load static %}

{% block page_css %}
<link rel="stylesheet" type="text/css" href="{% static 'appointments/css/appointments.css' %}">
{% endblock %}

{% block page_js %}
<script src="{% static 'appointments/js/appointments.js' %}"></script>
{% endblock %}

{% block page_name %}
My Appointments
{% endblock %}

{% block content %}

{% if appointments%}
{% for appointment in appointments %}
<div class="container">
	<div class="row">
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
					<h4 class="card-title">{{appointment.appointment_date}}</h4>
				</a>
				<p class="card-text">{{appointment.description}}</p>

            </div>
        </div>
    </div>
</div>


{% endfor %}
{% else %}

{% else %}

<div class="container">
	<div class="row">
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
				<h2 class="card-title" style="text-align: center;">Nothing Found</h2>
				<!-- <p class="card-text">There were no results matching the search: "{{query}}"</p> -->
			</div>
		</div>
	</div>
</div>

{% endif %}

{% endblock %}